body {
    font-family: "Roboto", sans-serif;
    padding: 1rem;
}

h1, h2, h3, h4, h5, p {
    margin: unset;
}

.material-symbols-outlined {
    transition-duration: 500ms;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2rem;
}

.mdc-card:first-child {
    grid-column: span 2;
}

.page-title {
    margin-bottom: 2rem;
}

.card-title, .card-title > div, .card-body {
    padding: 16px;
}

.card-body {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    flex-grow: 1;
    align-items: center;
    align-content: center;
}

.device-outer-container {
    border: 0.5px solid;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    transition-duration: 200ms;
    justify-content: center;
}

.device-title-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.slider-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.slider-container span {
    font-weight: bold;
}

.temperature-value {
    font-size: x-large;
}

.temperature-update-time {
    font-size: x-small;
    color: gray;
}

.temperature-labels-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature-title-container {
    display: flex;
    flex-direction: column;
}