body {
    font-family: "Roboto", sans-serif;
    padding: 1rem;
}

h1, h2, h3, h4, h5, p {
    margin: unset;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2rem;
}

.mdc-card:first-child {
    grid-column: span 2;
}

.page-title {
    margin-bottom: 2rem;
}

.card-title, .card-title > div {
    padding: 16px;
}