{% from 'macros.html' import lightSwitch, dimmerSlider, thermostat %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Smart Home Dashboard</title>
    <link rel="stylesheet" type="text/css" href="./static/style.css"/>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link href="https://fonts.cdnfonts.com/css/roboto" rel="stylesheet">
</head>

<body>
<h1 class="page-title">Smart Home</h1>
<div class="grid-container">
    <div class="mdc-card">
        <div class="card-title">
            <h2>Bedroom</h2>
        </div>
        <div class="card-body">
            {{ lightSwitch("Light 1", "lightSwitch1", session['device_lightSwitch1'] == 'true') }}
            {{ lightSwitch("Light 2", "lightSwitch2", session['device_lightSwitch2'] == 'true') }}
            {{ lightSwitch("Light 3", "lightSwitch3", session['device_lightSwitch3'] == 'true') }}
            {{ lightSwitch("Light 4", "lightSwitch4", session['device_lightSwitch4'] == 'true') }}
            {{ lightSwitch("Light 5", "lightSwitch5", session['device_lightSwitch5'] == 'true') }}
        </div>
    </div>
    <div class="mdc-card">
        <div class="card-title">
            <h2>Bathroom</h2>
        </div>
        <div class="card-body">
            {{ lightSwitch("Shower Light", "lightSwitch6", session['device_lightSwitch6'] == 'true') }}
            {{ thermostat("Thermostat", "thermostat1") }}
        </div>
    </div>
    <div class="mdc-card">
        <div class="card-title">
            <h2>Living Room</h2>
        </div>
        <div class="card-body">
            {{ dimmerSlider("Dimmerable", "dimmerableLight", session['device_dimmerableLight']) }}
            {{ thermostat("Thermostat", "thermostat2", 1000) }}
        </div>
    </div>
</div>
</body>

<script type="text/javascript"
        src="../static/functions.js">
</script>

</html>