{% macro lightSwitch(label, id, value) %}
    <div class="device-outer-container"
         id="container_{{ id }}" style="border-color: {{ "orange" if value else "lightGray" }}">
        <div class="device-title-container">
            <span id="icon_{{ id }}" class="material-symbols-outlined"
                  style="font-variation-settings: 'FILL' {{ 1 if value else 0 }}, 'wght' 400, 'GRAD' 0, 'opsz' 48;
                          color: {{ "orange" if value else "gray" }}">lightbulb</span>
            <h4>{{ label }}</h4>
        </div>

        <button id="{{ id }}-button" name="my_checkbox" role="switch" aria-checked="{{ 'true' if value else 'false' }}"
                class="mdc-switch {{ 'mdc-switch--selected' if value else 'mdc-switch--unselected' }} " type="button"
                onclick="updateLightSwitch(this, '{{ id }}')">
            <div class="mdc-switch__track"></div>
            <div class="mdc-switch__handle-track">
                <div class="mdc-switch__handle">
                    <div class="mdc-switch__shadow">
                        <div class="mdc-elevation-overlay"></div>
                    </div>
                    <div class="mdc-switch__ripple"></div>
                    <div class="mdc-switch__icons">
                        <svg class="mdc-switch__icon mdc-switch__icon--on" viewBox="0 0 24 24">
                            <path d="M19.69,5.23L8.96,15.96l-4.23-4.23L2.96,13.5l6,6L21.46,7L19.69,5.23z"/>
                        </svg>
                        <svg class="mdc-switch__icon mdc-switch__icon--off" viewBox="0 0 24 24">
                            <path d="M20 13H4v-2h16v2z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </button>
    </div>
{% endmacro %}

{% macro dimmerSlider(label, id, value) %}
    <div id="container_{{ id }}" class="device-outer-container"
         style="border-color: {{ "lightGray" if value == "0" else "orange" }}">
        <div class="device-title-container">
            <span id="icon_{{ id }}" class="material-symbols-outlined"
                  style="font-variation-settings: 'FILL' {{ 0 if value == "0" else 1 }}, 'wght' 400, 'GRAD' 0, 'opsz' 48;
                          color: {{ "gray" if value == "0" else "orange" }}">
                {% if value == "0" %} brightness_5
                {% elif value == "100" %} brightness_7
                {% else %} brightness_6
                {% endif %}
            </span>
            <h4>{{ label }}</h4>
        </div>
        <div class="slider-container">
            <input type="range" min="0" max="100" value="{{ value }}" onchange="updateSlider(this.value, '{{ id }}')"/>
            <span id="valueLabel_{{ id }}">{{ value }}%</span>
        </div>
    </div>
{% endmacro %}

{% macro heater(label, id, value, min, max, thermostat=None, interval=200 ) %}
    <div id="heaterContainer_{{ id }}" class="device-outer-container">
        <div class="device-title-container">
            <span id="heaterIcon_{{ id }}" class="material-symbols-outlined"
                  style="font-variation-settings: 'FILL' {{ 0 if value == "0" else 1 }}, 'wght' 400, 'GRAD' 0, 'opsz' 48;">
                local_fire_department
            </span>
            <div class="temperature-title-container">
                <h4>{{ label }}</h4>
                <span class="temperature-update-time" id="heaterThreshold_{{ id }}">{{ min }}°C - {{ max }}°C</span>
            </div>
        </div>
        <div class="heater-container">
            <span id="heaterValueLabel_{{ id }}"></span>
        </div>
    </div>
    <script>
        function getHeaterStatus(heaterId) {
            fetch('/get_heater_status?id=' + heaterId)
                .then(response => response.json())
                .then(data => {
                    const label = document.getElementById("heaterValueLabel_" + heaterId)
                    const container = document.getElementById("heaterContainer_"+heaterId)
                    const icon = document.getElementById("heaterIcon_"+heaterId)
                    if (data.status === false) {
                        label.innerHTML = "Status: Off"
                        container.style.borderColor = "lightGray"
                        icon.style.color = "gray"
                    } else {
                        label.innerHTML = "Status: On"
                        container.style.borderColor = "red"
                        icon.style.color = "red"
                    }
                });
        }

        getHeaterStatus("{{ id }}")

        {% if interval != 0 %} setInterval(() => getHeaterStatus(
            "{{ id }}"
        ), {{ interval }}); {% endif %}
    </script>
{% endmacro %}

{% macro thresholdsContainer(label, id, min, max) %}
    <div id="container_{{ id }}" class="device-outer-container"
         style="border-color: black; min-width: 10rem">
        <div class="device-title-container">
            <span id="icon_{{ id }}" class="material-symbols-outlined"
                  style="font-variation-settings: 'FILL' {{ 0 if value == "0" else 1 }}, 'wght' 400, 'GRAD' 0, 'opsz' 48;
                          color: gray">
                tune
            </span>
            <h4>{{ label }}</h4>
        </div>
        <div class="thresholds-container">
            <div class="inputs">
                <label class="mdc-text-field mdc-text-field--outlined" id="minOuter_{{ id }}">
                  <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                      <span class="mdc-floating-label" id="minThreshold_{{ id }}">Min</span>
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                  </span>
                    <input type="text" class="mdc-text-field__input" aria-labelledby="minThreshold_{{ id }}"
                           value='{{ min }}' id="inputMin_{{ id }}">
                </label>

                <label class="mdc-text-field mdc-text-field--outlined" id="maxOuter_{{ id }}">
                  <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                      <span class="mdc-floating-label" id="maxThreshold_{{ id }}">Max</span>
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                  </span>
                    <input type="text" class="mdc-text-field__input" aria-labelledby="maxThreshold_{{ id }}"
                           value='{{ max }}' id="inputMax_{{ id }}">
                </label>
            </div>
            <button
                    class="mdc-button mdc-button--outlined"
                    type="submit"
                    onclick="ajaxUpdateThresholds('{{ id }}')"
            >
                <span class="mdc-button__ripple"></span>
                <span class="mdc-button__label">Save</span>
            </button>
        </div>
    </div>
    <script>
        const minTextField = new mdc.textField.MDCTextField(document.querySelector('#minOuter_{{ id }}'));
        const maxTextField = new mdc.textField.MDCTextField(document.querySelector('#maxOuter_{{ id }}'));
    </script>
{% endmacro %}