{% macro lightSwitch(label, id, value) %}
    <div class="device-outer-container"
         id="container_{{ id }}" style="border-color: {{ "orange" if value else "lightGray" }}">
        <div class="device-title-container">
            <span id="icon_{{ id }}" class="material-symbols-outlined"
                  style="font-variation-settings: 'FILL' {{ 1 if value else 0 }}, 'wght' 400, 'GRAD' 0, 'opsz' 48;
                          color: {{ "orange" if value else "gray" }}">lightbulb</span>
            <h4>{{ label }}</h4>
        </div>

        <button id="{{ id }}-button" name="my_checkbox" role="switch" aria-checked="{{ 'true' if value else 'false' }}"
                class="mdc-switch {{ 'mdc-switch--selected' if value else 'mdc-switch--unselected' }} " type="button"
                onclick="updateLightSwitch(this, '{{ id }}')">
            <div class="mdc-switch__track"></div>
            <div class="mdc-switch__handle-track">
                <div class="mdc-switch__handle">
                    <div class="mdc-switch__shadow">
                        <div class="mdc-elevation-overlay"></div>
                    </div>
                    <div class="mdc-switch__ripple"></div>
                    <div class="mdc-switch__icons">
                        <svg class="mdc-switch__icon mdc-switch__icon--on" viewBox="0 0 24 24">
                            <path d="M19.69,5.23L8.96,15.96l-4.23-4.23L2.96,13.5l6,6L21.46,7L19.69,5.23z"/>
                        </svg>
                        <svg class="mdc-switch__icon mdc-switch__icon--off" viewBox="0 0 24 24">
                            <path d="M20 13H4v-2h16v2z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </button>
    </div>
{% endmacro %}

{% macro dimmerSlider(label, id, value) %}
    <div id="container_{{ id }}" class="device-outer-container"
         style="border-color: {{ "lightGray" if value == "0" else "orange" }}">
        <div class="device-title-container">
            <span id="icon_{{ id }}" class="material-symbols-outlined"
                  style="font-variation-settings: 'FILL' {{ 0 if value == "0" else 1 }}, 'wght' 400, 'GRAD' 0, 'opsz' 48;
                          color: {{ "gray" if value == "0" else "orange" }}">
                {% if value == "0" %} brightness_5
                {% elif value == "100" %} brightness_7
                {% else %} brightness_6
                {% endif %}
            </span>
            <h4>{{ label }}</h4>
        </div>
        <div class="slider-container">
            <input type="range" min="0" max="100" value="{{ value }}" onchange="updateSlider(this.value, '{{ id }}')"/>
            <span id="valueLabel_{{ id }}">{{ value }}%</span>
        </div>
    </div>
{% endmacro %}

{% macro thermostat(label, id, interval=5000) %}
    <div id="container_{{ id }}" class="device-outer-container"
         style="border-color: blue">
        <div class="device-title-container">
            <span id="icon_{{ id }}" class="material-symbols-outlined"
                  style="font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
                          color: blue">
                device_thermostat
            </span>
            <div class="temperature-title-container">
                <h4>{{ label }}</h4>
                <span class="temperature-update-time">Frequency: {{ interval }}ms</span>
            </div>
        </div>
        <div class="temperature-labels-container">
            <span class="temperature-value" id="temperatureValue_{{ id }}"></span>
            <span class="temperature-update-time" id="temperatureUpdateTime_{{ id }}"></span>
        </div>
    </div>
    <script>
        function updateTemperature() {
            fetch('/get_temperature?id={{ id }}')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('temperatureValue_{{ id }}').textContent = data.temperature + "°C";
                    document.getElementById('temperatureUpdateTime_{{ id }}').textContent = "Last update: " + new Date().toLocaleTimeString();
                });
        }

        updateTemperature();
        setInterval(updateTemperature, {{ interval }});
    </script>
{% endmacro %}

